* {
  margin: 0;
  padding: 0;
}
canvas {
  border: 1px solid black;
  background: skyblue;
}
.buttons {
  position: absolute;
  top: 30%;
  right: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.buttons > * {
  margin: 10px;
}
